In [2]:
import pandas as pd # data manipulation 2D 
import numpy as np # numerical python
import matplotlib.pyplot as plt
import seaborn as sns # statistical data visualization

Matplotlib is building the font cache; this may take a moment.

In [4]:
df = pd.read_csv("vgsales.csv")

# read the contents / display , default = 5 records
# df.head(10)
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [12]:
print(f"The shape of this dataset is {df.shape}")
print(f"Rows in the dataset are :  {df.shape[0]}")
print(f"Cols in the dataset are :  {df.shape[1]}")
print(f"Printing the columns\n : {df.columns}")

The shape of this dataset is (16598, 11)
Rows in the dataset are :  16598
Cols in the dataset are :  11
Printing the columns
 : Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [ ]:
cols = df.columns

for i,v in enumerate(cols):
    print(f"Column {v} is at index {i}")

Column Rank is at index 0
Column Name is at index 1
Column Platform is at index 2
Column Year is at index 3
Column Genre is at index 4
Column Publisher is at index 5
Column NA_Sales is at index 6
Column EU_Sales is at index 7
Column JP_Sales is at index 8
Column Other_Sales is at index 9
Column Global_Sales is at index 10

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [18]:
print("get the missing values.....\n")

df.isnull().sum()

get the missing values.....

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [ ]:

# alternate method to get columns with missing data

columns_with_missing = df.columns[df.isnull().any()].tolist()

print(columns_with_missing)

['Year', 'Publisher']

In [23]:
# we want to find in percentage - missing values
missing_percentage = (df.isnull().sum()/len(df)) * 100

print(round(missing_percentage,2))

Rank            0.00
Name            0.00
Platform        0.00
Year            1.63
Genre           0.00
Publisher       0.35
NA_Sales        0.00
EU_Sales        0.00
JP_Sales        0.00
Other_Sales     0.00
Global_Sales    0.00
dtype: float64

In [26]:
total_missing_values_df = df.isnull().sum().sum()

print(f"Entire dataframe has {total_missing_values_df} missing values")

Entire dataframe has 329 missing values

In [ ]:
df.describe() # descriptive statistics : only numerical data

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [ ]:
df.columns

# series : column

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [33]:
# 2 methods to extract column from the dataframe
# bracket notation : df['column_name']
# dot notation : df.column_name


df['Genre']

0              Sports
1            Platform
2              Racing
3              Sports
4        Role-Playing
             ...
16593        Platform
16594         Shooter
16595          Racing
16596          Puzzle
16597        Platform
Name: Genre, Length: 16598, dtype: object

In [34]:
df.Genre

0              Sports
1            Platform
2              Racing
3              Sports
4        Role-Playing
             ...
16593        Platform
16594         Shooter
16595          Racing
16596          Puzzle
16597        Platform
Name: Genre, Length: 16598, dtype: object

In [37]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [ ]:
# when we need to extract multiple columns, we pass them as a list
# subsetting the data

sales_df = df[['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

sales_df.head()

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [40]:
sales_df.shape

(16598, 5)

In [ ]:
# using iloc 
# index locator
# used as filtering mechanism

sample_df = df.iloc[:,1:6] #df.iloc[rows,columns]
# : --> select all rows/records (SELECT * FROM TABLE )

# 1:6 ---> slicing mechanism
# starting index position : 1
# ending position : n - 1 : 5

sample_df.head(10)

                        Name Platform    Year         Genre Publisher
0                 Wii Sports      Wii  2006.0        Sports  Nintendo
1          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5                     Tetris       GB  1989.0        Puzzle  Nintendo
6      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7                   Wii Play      Wii  2006.0          Misc  Nintendo
8  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9                  Duck Hunt      NES  1984.0       Shooter  Nintendo

In [ ]:
sample_df_100rows = df.iloc[0:100,1:6]

# customised rows : 0:100
# customised columns : 1:6

# :100 --> understood my starting index position is 0
# same as 0:100

sample_df_100rows

,Name,Platform,Year,Genre,Publisher
0,Wii Sports,Wii,2006.0,Sports,Nintendo
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo
...,...,...,...,...,...
95,Crash Bandicoot 2: Cortex Strikes Back,PS,1997.0,Platform,Sony Computer Entertainment
96,Super Mario Bros. 2,NES,1988.0,Platform,Nintendo
97,Super Smash Bros. for Wii U and 3DS,3DS,2014.0,Fighting,Nintendo
98,Call of Duty: World at War,X360,2008.0,Shooter,Activision
99,Battlefield 3,X360,2011.0,Shooter,Electronic Arts